body {
<<<<<<< HEAD
  background: red;
  width: 970px;
  margin: 0 auto;
}
h1 {
  font-size: 32px;
}
body p {
  font-size: 11px;
=======
  background: green;
}
h1 {
  font-size: 80px;
>>>>>>> new_style
}